@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
	background-color: #efefef;
} */

div.container {
  width: 80%;
  background-color: #eeecec;
  margin: 42px auto;
  border-radius: 2rem;
  box-shadow: 2px 2px 50px black;
  font-family: "Judson", serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: -1px 1px 5px;
  margin: 1rem;
}

.input-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

select {
  font-family: "Bellota", cursive;
  height: 40px;
  width: 188px;
  font-weight: 600px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #d9d9d9;
  padding: 5px;
}

.search-input {
  width: 300px;
  height: 40px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.search-input input {
  padding: 10px;
  outline: none;
  border: none;
  background-color: inherit; /* transparent */
}

.search-input img {
  width: 30px;
  height: 30px;
  margin: 1rem;
}

.support {
  font-size: 19px;
  text-align: right;
}

.support-number {
  font-weight: 600;
}

.support-text {
  font-size: 0.8rem;
}

.icons {
  margin-right: 20px;
}

.icons img {
  padding: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 4rem;
}

.categoryButton {
  display: flex;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 10px;
}

.categoryButton p {
  font-style: italic;
  margin-left: 18px;
}

.categoryButton ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  padding: 10px;
}

.furniture {
  background-image: url(./images/stock.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* width: 100%; */
  /* height: 50vh; */
  padding: 2rem 5rem;
  gap: 1rem;
  /* flex-shrink: 0; */
  margin-top: 20px;
}

.essentials {
  /* border: 2px solid red; */
  background-color: #d5dee5;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  align-items: center;
  height: 300px;
  width: 800px;
  /* flex-shrink: 0; */
}

.essantial-text {
  /* border: 2px solid red; */
  /* margin-left: 10px; */
  color: #000;
  font-family: Judson;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  padding: 20px;
}

.lightning {
  /* position: relative; */
  background-color: #ffc868;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  height: 300px;
  width: 400px;
  flex-shrink: 0;
  margin-left: 3rem;
}

.lightning img {
  /* position: absolute; */
  border: 2px solid red;
  width: 100%;
  height: 300px;
  /* flex-shrink: 0; */
  /* bottom: 0; */
  /* flex-shrink: 0; */
}

.lightning-text {
  width: 80%;
  direction: rtl;
  margin-bottom: -200px;
  float: right  ;
  border: 2px solid red;
  /* position: absolute; */
  color: #000;
  /* text-align: right; */
  font-family: Josefin Slab;
  /* font-size: 24px; */
  font-style: italic;
  /* font-weight: 400; */
  /* line-height: normal; */
  /* letter-spacing: 0.24px; */
  /* margin-bottom:-70px ; */
  padding: 2rem;
}

.product-part img {
  width: 350px;
  height: 270px;
}

.category {
	width: 350px;
	height: 350px;
	margin: 1rem;
	padding: 1rem 2px 1rem 1rem;
	/* border: 2px solid black; */
	border-radius: 10px;
	background-color: rgba(238, 236, 236, 0.86);
	box-shadow: 2px 2px 50px black;
}

.category img {
	width: 100%;
	height: 100%;
	padding: 1rem 10px 1rem 1rem;
	border: 10px;
	border-radius: 2rem;
	position: relative;
}
