body{
    background-color: black;
    color: white;
}
.container{
    width: 80%;
    margin: auto;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
}

.heading{
    font-family: 'Lobster', cursive;
}

#title{
    font-size: 90px;
    text-align: center;
}

#span1{
    color: red;
}

#image{
    width: 400px;
    border-radius: 40px;
}
#img-div{
    
    text-align: center;
}

#info{
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    font-size: 24px;
    
}

#marvel{
    color: red;
    margin-left: 10%;
}

ul{
    width: 80%;
    margin: auto;
}

li{
    font-size: 24px;
    line-height: 50px;
}

#footer{
    padding: 30px;
    text-align: center;
    font-size: 32px;
}

#link{
    text-decoration: none;
    color: white;
    border: 2px solid orange;
    padding: 30px;
    border-radius: 10px;
    background-color: black;

}

#link:hover{
    background-color: grey;
    color: red;
}